// Стили для блока который устанавливает фон и небольшую тень
.boxes {
  // Элемент задаёт фон и тень блоку к которому пременяется
  &__bg {
    transition: background .3s;
    // Темы для фона
    &_theme {
      // Светлая тема
      &_light {
        background: #fff;
        box-shadow: 1px 1px 5px #c7c7c7;
      }

      // Здесь может быть к примеру тёмная тема если понадобится
      // ...
    }
  }

  // Стили если формат webP поддерживается у пользователя
  &_webp {
    // При наведении изменим цвет фона
    .boxes__bg_theme_light:hover {
      background: #e7e7e7;
    }
  }
}